@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

#root,
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}


.app {

    height: 100%;
    background: url('./image/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;



}


.card {
    margin-top: 9rem;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    background: rgba(255, 239, 239, 0.356);
    box-shadow: 9px 10px 21px 6px rgba(0, 0, 0, 0.65);
}

.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Quicksand', sans-serif;
}

.btn {

    margin: 40px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;

}

.btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}